.container {
  padding: 1em;
  width: calc(100%-50px);
  margin: auto;
}

.col {
  width: 48%;
  display: inline-block;
  margin: 1%;
}

app-calendar {
  width: calc(100% - 100px);
}

mat-action-list{
  width: 100%;
  height: 400px;
  overflow-y: scroll;
}

.formPersonalData{
  display: flex;
  flex-direction: column
}

.buttons-stepper {
  display: flex;
  justify-content: space-between;
}

.info-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.icon-info-text{
  font-size: 50px;
  height: 50px;
}

.message-text {
  text-align: center;
}

.available-slot {
  color: rgb(43, 255, 0);
}

.unavailable-slot {
  color: rgb(255, 30, 0);
}
